.principal-content {
    background-color: #f2f2f2;
}

.input-search-style {
    background-color: hsl(215, 95%, 83%);
    height: 5vh;
    width: 105.5%;
    border: none;
}

.card-style {
    display: flex;
    flex-direction: column;
    display: inline-block;
}

.changeCursor{
    cursor: pointer;
}
tr:hover {
    background-color: hsl(215, 95%, 83%);
}

.input-add-style {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 95%;
    display: inline-block;
}

.img-add-style {
    margin-left: 10px;
}

.easterEgg {
    border-radius: 6px;
}

.flash {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes flash {
    0% {
        background-color: rgb(255, 238, 1);
    }
    50% {
        background-color: rgb(197, 184, 0);
    }
    100% {
        background-color: rgb(255, 238, 0);
    }
}